.image {
    box-sizing: border-box;
    border: 0px solid #1976d2;
    cursor: pointer;
    transition: border 250ms ease-in-out;
}

.card:hover {
    box-shadow:
        0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition:
        cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms;
}

.card:hover .image {
    border: 7px solid #1976d2;
    transition: border 250ms ease-in-out;
}

.card hr {
    width: 0px;
    border: none;
    border-bottom: 2px solid #1976d2;
    transition: width 1000ms ease-in-out;
}

.card:hover hr {
    width: 40%;
    transition: width 250ms ease-in-out;
}
